@use "../../variables.scss" as variable;
@use "../../mixins.scss" as mixin;

.neumorphicDarkCard {
  background: variable.$primary-color-alpha;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  padding: 1rem;
  width: 300px;
  min-width: 300px;
  margin: 15px;
  box-shadow: 7px 7px 16px 0px #0000003D, -7px -7px 16px 0px #6161613d;
  &:hover {
    box-shadow: 7px 7px 16px 0px #0000003D inset, -7px -7px 16px 0px #6161613d inset;
    h2 {
      background-color: variable.$linear-text-color;
      background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    cursor: pointer;
  }

}