@use "../variables.scss" as variable;
@use "../mixins.scss" as mixin;

.topNav {
  width: 100%;
  background-color: variable.$primary-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 3rem;
};

@media screen and (max-width: 600px) {
.bottomNav {
  width: 100%;
  background-color: variable.$primary-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  @include mixin.anchorStyles();
};
  
}
@media screen and (min-width: 600px) {
  .bottomNav {
    display: none;
  };
  
};
