@use "../ux/variables.scss" as variable;
@use "../ux/mixins.scss" as mixin;

.neumorphicDarkButton {
  background: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  box-shadow: 7px 7px 16px 0px #0000003D, -7px -7px 16px 0px #6161613d;
  &:hover {
    box-shadow: 7px 7px 16px 0px #0000003D inset, -7px -7px 16px 0px #6161613d inset;
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
.neumorphicDarkButtonNoHover {
  background: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  box-shadow: 7px 7px 16px 0px #0000003D, -7px -7px 16px 0px #6161613d;
}

.neumorphicDarkButtonActive {
  background: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  box-shadow: inset 7px 7px 16px 0px #0000003D, inset -7px -7px 16px 0px #6161613d;
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.plainButton {
  color: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  color: red;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.primary {
  color: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.secondary {
  // color: variable.$secondary-color-alpha;
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$secondary-color 0%, variable.$secondary-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.error {
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$error-color 0%, variable.$error-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.success {
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$success-color 0%, variable.$success-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.warning {
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$warning-color 0%, variable.$warning-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.info {
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$info-color 0%, variable.$info-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.disabled {
  background-color: variable.$linear-text-color;
  background: -webkit-linear-gradient(180deg,variable.$disabled-color 0%, variable.$disabled-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 2rem;
  width: 100%;
  &:hover {
    cursor: not-allowed;
  }
}
.link {
  border: none;
  background-color: transparent;
  background: -webkit-linear-gradient(180deg,variable.$link-color 0%, variable.$link-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  &:hover {
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

}