@use "../ux/variables.scss" as variable;
@use "../ux/mixins.scss" as mixin;

.SelectButton {
  background: variable.$primary-color-alpha;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 25px;
  height: 3rem;
  box-shadow: 7px 7px 16px 0px #0000003D, -7px -7px 16px 0px #6161613d;
  border: none;
  line-height: 1.25rem;
  // margin: 16px;
  color: variable.$linear-text-color;
  box-shadow: transparent;
  span {
    margin: 16px;
    color: variable.$linear-text-color;
    line-height: 1.5rem;
  }
  &:hover {
    box-shadow: 7px 7px 16px 0px #0000003D inset, -7px -7px 16px 0px #6161613d inset;
    background-color: variable.$linear-text-color;
    background: -webkit-linear-gradient(180deg,#1A5DF9 0%, #75DCFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}

.SelectContent {
  background: variable.$primary-color;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 25px;
  height: 3rem;
  width: 100%;
  box-shadow: 7px 7px 16px 0px #0000003D, -7px -7px 16px 0px #6161613d;
  border: none;
  line-height: 1.25rem;
  margin: 16px;
  color: variable.$linear-text-color;
  box-shadow: transparent;
  div {
    margin: 0 0 16px 0;
    line-height: 1.5rem;
    width: 100%;
  }
}

.SelectLabel {
  display: flex;
  cursor: none;
  width: 100%;
}

.SelectItem {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 90%;
  &:hover {
    background-color: #0000003D;
  }
}

.SelectSeperator {
  display: flex;
}