@use "../components/variables.scss" as variable;
@use "../components/mixins.scss" as mixin;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: variable.$max-width;
  min-height: variable.$min-height;
  overflow-x: auto;
  margin: auto;
}

body {
  color: variable.$text-color;
  background: variable.$primary-color;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: variable.$text-color;
  border-radius: 20px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: variable.$text-color-hover;
}
