@use "../../variables.scss" as variable;
@use "../../mixins.scss" as mixin;

.neuInput {
  background: variable.$primary-color-alpha;
  border-radius: 0.2rem;
  border: none;
  line-height: 1rem;
  color: variable.$linear-text-color;
  box-shadow: transparent;
  &::selection {
    background: variable.$linear-text-color;
    color: variable.$primary-color-alpha;
  }
  &:focus, &:focus{
    outline: none;
}
}